<h5>
  List_ElementHazards Table * shows the equipments and its hazards
</h5>
<p>Table form example</p>

<table border="1" cellpadding="2" cellspacing="0">
  <tr style="font-weight: bold; background-color: #aaa;">
  <td>Element</td><td>Hazard</td><td>Date Added</td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>Batteries</td><td>Electrocution</td><td>2018-11-14 16:32:08</td>
  </tr>
</table>

<h6></h6>
<p>Types of Equipments (Elements) and its percentages</p>

<table border="1" cellpadding="2" cellspacing="0">
  <tr style="font-weight: bold; background-color: #aaa;">
  <td>Types of Equipments</td><td>Occurrence</td><td>Percentage</td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>Batteries</td><td align="right">20</td><td align="right">10.67</td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>Cable/Bus/Bus duct</td><td align="right">21</td><td align="right">7.32</td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>Capacitor</td><td align="right">15</td><td align="right">5.23</td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>Circuit Breaker</td><td align="right">17</td><td align="right">5.92</td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>Distribution Board</td><td align="right">18</td><td align="right">6.27</td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>Earthing System</td><td align="right">16</td><td align="right">5.57</td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>Generator</td><td align="right">25</td><td align="right">8.71</td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>Lighting</td><td align="right">20</td><td align="right">6.97</td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>MCC (Motor control centre)</td><td align="right">22</td><td align="right">7.67</td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>Motor</td><td align="right">22</td><td align="right">7.67</td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>Protection Relay</td><td align="right">14</td><td align="right">4.88</td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>Substation</td><td align="right">19</td><td align="right">6.62</td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>Switchboard</td><td align="right">18</td><td align="right">6.27</td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>Transformer</td><td align="right">23</td><td align="right">8.01</td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>UPS (uninterruptible power
   supply)</td><td align="right">17</td><td align="right">5.92</td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>&nbsp;</td><td align="right">287</td><td align="right">&nbsp;</td>
  </tr>
  </table>

  <h1></h1>
  <p>Types of hazards and its percentages</p>

  <table cellspacing="0" cellpadding="2" border="1">
    <tbody><tr style="font-weight: bold; background-color: #aaa;">
    <td>Types of Hazards</td><td>Occurrence</td><td>Percentage</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>Electrocution</td><td align="right">57</td><td align="right">19.86</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>Environment</td><td align="right">6</td><td align="right">2.09</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>Ergonomics</td><td align="right">4</td><td align="right">1.39</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>Fire / Explosion</td><td align="right">39</td><td align="right">13.59</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>Mechanical Hazards</td><td align="right">23</td><td align="right">8.01</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>OI (Operability Issues)</td><td align="right">149</td><td align="right">51.92</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>Toxicity</td><td align="right">9</td><td align="right">3.16</td>
    </tr>
    </tbody></table>

    <h1></h1>
    <p>Electrocution Hazard</p>

    <table cellspacing="0" cellpadding="2" border="1">
      <tbody><tr style="font-weight: bold; background-color: #aaa;">
      <td>Electrocution Hazard</td><td>Occurrence</td><td>Percentage</td>
      </tr>
      <tr style="background-color: #f0f0f0">
      <td>Direct Contact</td><td align="right">13</td><td align="right">22.81</td>
      </tr>
      <tr style="background-color: #ffffff">
      <td>Indirect Contact</td><td align="right">8</td><td align="right">14.04</td>
      </tr>
      <tr style="background-color: #f0f0f0">
      <td>Induction</td><td align="right">2</td><td align="right">3.51</td>
      </tr>
      <tr style="background-color: #ffffff">
      <td>Proximity</td><td align="right">5</td><td align="right">8.77</td>
      </tr>
      <tr style="background-color: #f0f0f0">
      <td>Step Potential</td><td align="right">4</td><td align="right">7.02</td>
      </tr>
      <tr style="background-color: #ffffff">
      <td>Switching</td><td align="right">12</td><td align="right">21.05</td>
      </tr>
      <tr style="background-color: #f0f0f0">
      <td>Testing</td><td align="right">13</td><td align="right">22.81</td>
      </tr>
      </tbody></table>

      <h1></h1>
      <p>Environment Hazard			
      </p>
      <p>*Only one type of environment hazard</p>

      
      <h1></h1>
      <p>Ergonomics			
      </p>

      <table cellspacing="0" cellpadding="2" border="1">
        <tbody><tr style="font-weight: bold; background-color: #aaa;">
        <td>Ergonomics Hazard</td><td>Occurrence</td><td>Percentage</td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>Accessibility</td><td align="right">2</td><td align="right">50</td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>Dimensions</td><td align="right">1</td><td align="right">25</td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>Visibility</td><td align="right">1</td><td align="right">25</td>
        </tr>
        </tbody></table>

      <h1></h1>
      <p>Fire / Explosion			
      </p>

      <table cellspacing="0" cellpadding="2" border="1">
        <tbody><tr style="font-weight: bold; background-color: #aaa;">
        <td>Fire/Explosion Hazard</td><td>Occurrence</td><td>Percentage</td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>Flashover</td><td align="right">9</td><td align="right">23.08</td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>Pressure</td><td align="right">7</td><td align="right">17.95</td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>Short Circuit</td><td align="right">12</td><td align="right">30.77</td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>Switching</td><td align="right">8</td><td align="right">20.51</td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>Others</td><td align="right">3</td><td align="right">7.69</td>
        </tr>
        </tbody></table>

      <h1></h1>
      <p>Mechanical Hazard			
      </p>

      <table cellspacing="0" cellpadding="2" border="1">
        <tbody><tr style="font-weight: bold; background-color: #aaa;">
        <td>Mechanical Hazard</td><td>Occurrence</td><td>Percentage</td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>Escape route</td><td align="right">3</td><td align="right">13.04</td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>Falling Objects</td><td align="right">7</td><td align="right">30.43</td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>Fences</td><td align="right">2</td><td align="right">8.7</td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>Others</td><td align="right">6</td><td align="right">26.09</td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>Trip over</td><td align="right">5</td><td align="right">21.74</td>
        </tr>
        </tbody></table>

      <h1></h1>
      <p>OI (Operability Issues)			
      </p>

      <table cellspacing="0" cellpadding="2" border="1">
        <tbody><tr style="font-weight: bold; background-color: #aaa;">
        <td>OI Hazards</td><td>Occurrence</td><td>Percentage</td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>Competency -
         Knowledge/Training</td><td align="right">15</td><td align="right">10.07</td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>Competency - Skill</td><td align="right">15</td><td align="right">10.07</td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>Procedure - Checklist</td><td align="right">15</td><td align="right">10.07</td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>Procedure - EIC</td><td align="right">14</td><td align="right">9.4</td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>Procedure – JMS</td><td align="right">15</td><td align="right">10.07</td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>Procedure – JSA</td><td align="right">15</td><td align="right">10.07</td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>Procedure – LOEA</td><td align="right">15</td><td align="right">10.07</td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>Procedure – PTW</td><td align="right">15</td><td align="right">10.07</td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>Procedure – Work
         Instruction</td><td align="right">15</td><td align="right">10.07</td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>Tool/PPE</td><td align="right">15</td><td align="right">10.07</td>
        </tr>
        </tbody></table>

      <h1></h1>
      <p>Toxicity			
      </p>

      <table cellspacing="0" cellpadding="2" border="1">
        <tbody><tr style="font-weight: bold; background-color: #aaa;">
        <td>Toxicity Hazards</td><td>Occurrence</td><td>Percentage</td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>Battery Acid</td><td align="right">3</td><td align="right">33.33</td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>CO2/FM200</td><td align="right">2</td><td align="right">22.22</td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>Fumes</td><td align="right">4</td><td align="right">44.44</td>
        </tr>
        </tbody></table>

      <h1></h1>
      <p>Types of equipments and hazards with percentages			
      </p>

      <table cellspacing="0" cellpadding="2" border="1">
        <tbody><tr style="font-weight: bold; background-color: #aaa;">
        <td>Element</td><td>Hazard</td><td>Occurrence</td><td>Percentage</td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>BATTERIES (20)</td><td>Electrocution</td><td align="right">3</td><td align="right">15</td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>&nbsp;</td><td>Environment</td><td align="right">1</td><td align="right">5</td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>&nbsp;</td><td>Ergonomics</td><td align="right">0</td><td align="right">0</td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>&nbsp;</td><td>Fire / Explosion</td><td align="right">2</td><td align="right">10</td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>&nbsp;</td><td>Mechanical Hazards</td><td align="right">2</td><td align="right">10</td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>&nbsp;</td><td>OI</td><td align="right">10</td><td align="right">50</td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>&nbsp;</td><td>Toxicity</td><td align="right">2</td><td align="right">10</td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>CABLE/BUS/BUS DUCT
         (21)</td><td>Electrocution</td><td align="right">4</td><td align="right">19.04</td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>&nbsp;</td><td>Environment</td><td align="right">0</td><td align="right">0</td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>&nbsp;</td><td>Ergonomics</td><td align="right">0</td><td align="right">0</td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>&nbsp;</td><td>Fire / Explosion</td><td align="right">3</td><td align="right">14.29</td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>&nbsp;</td><td>Mechanical Hazards</td><td align="right">3</td><td align="right">14.29</td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>&nbsp;</td><td>OI</td><td align="right">10</td><td align="right">47.62</td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>&nbsp;</td><td>Toxicity</td><td align="right">1</td><td align="right">4.62</td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>CAPACITOR (15)</td><td>Electrocution</td><td align="right">3</td><td align="right">20</td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>&nbsp;</td><td>Environment</td><td align="right">0</td><td align="right">0</td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>&nbsp;</td><td>Ergonomics</td><td align="right">0</td><td align="right">0</td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>&nbsp;</td><td>Fire / Explosion</td><td align="right">1</td><td align="right">6.67</td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>&nbsp;</td><td>Mechanical Hazards</td><td align="right">1</td><td align="right">6.67</td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>&nbsp;</td><td>OI</td><td align="right">10</td><td align="right">66.67</td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>&nbsp;</td><td>Toxicity</td><td align="right">0</td><td align="right">0</td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>CIRCUIT BREAKER (17)</td><td>Electrocution</td><td align="right">3</td><td align="right">17.65</td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>&nbsp;</td><td>Environment</td><td align="right">0</td><td align="right">0</td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>&nbsp;</td><td>Ergonomics</td><td align="right">0</td><td align="right">0</td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>&nbsp;</td><td>Fire / Explosion</td><td align="right">3</td><td align="right">17.65</td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>&nbsp;</td><td>Mechanical Hazards</td><td align="right">1</td><td align="right">5.88</td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>&nbsp;</td><td>OI</td><td align="right">10</td><td align="right">58.82</td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>&nbsp;</td><td>Toxicity</td><td align="right">0</td><td align="right">0</td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>DISTRIBUTION BOARD
         (18)</td><td>Electrocution</td><td align="right">5</td><td align="right">27.78</td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>&nbsp;</td><td>Environment</td><td align="right">0</td><td align="right">0</td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>&nbsp;</td><td>Ergonomics</td><td align="right">0</td><td align="right">0</td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>&nbsp;</td><td>Fire / Explosion</td><td align="right">3</td><td align="right">16.67</td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>&nbsp;</td><td>Mechanical Hazards</td><td align="right">0</td><td align="right">0</td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>&nbsp;</td><td>OI</td><td align="right">10</td><td align="right">55.56</td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>&nbsp;</td><td>Toxicity</td><td align="right">0</td><td align="right">0</td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>EARTHING SYSTEM (16)</td><td>Electrocution</td><td align="right">4</td><td align="right">25</td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>&nbsp;</td><td>Environment</td><td align="right">1</td><td align="right">6.25</td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>&nbsp;</td><td>Ergonomics</td><td align="right">0</td><td align="right">0</td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>&nbsp;</td><td>Fire / Explosion</td><td align="right">1</td><td align="right">6.25</td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>&nbsp;</td><td>Mechanical Hazards</td><td align="right">0</td><td align="right">0</td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>&nbsp;</td><td>OI</td><td align="right">10</td><td align="right">62.5</td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>&nbsp;</td><td>Toxicity</td><td align="right">0</td><td align="right">0</td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>GENERATOR (25)</td><td>Electrocution</td><td align="right">5</td><td align="right">20</td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>&nbsp;</td><td>Environment</td><td align="right">1</td><td align="right">4</td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>&nbsp;</td><td>Ergonomics</td><td align="right">0</td><td align="right">0</td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>&nbsp;</td><td>Fire / Explosion</td><td align="right">4</td><td align="right">16</td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>&nbsp;</td><td>Mechanical Hazards</td><td align="right">2</td><td align="right">8</td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>&nbsp;</td><td>OI</td><td align="right">10</td><td align="right">40</td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>&nbsp;</td><td>Toxicity</td><td align="right">3</td><td align="right">12</td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>LIGHTING (20)</td><td>Electrocution</td><td align="right">4</td><td align="right">20</td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>&nbsp;</td><td>Environment</td><td align="right">1</td><td align="right">5</td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>&nbsp;</td><td>Ergonomics</td><td align="right">1</td><td align="right">5</td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>&nbsp;</td><td>Fire / Explosion</td><td align="right">2</td><td align="right">10</td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>&nbsp;</td><td>Mechanical Hazards</td><td align="right">2</td><td align="right">10</td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>&nbsp;</td><td>OI</td><td align="right">10</td><td align="right">50</td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>&nbsp;</td><td>Toxicity</td><td align="right">0</td><td align="right">0</td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>MCC (22)</td><td>Electrocution</td><td align="right">5</td><td align="right">22.73</td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>&nbsp;</td><td>Environment</td><td align="right">0</td><td align="right">0</td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>&nbsp;</td><td>Ergonomics</td><td align="right">2</td><td align="right">9.09</td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>&nbsp;</td><td>Fire / Explosion</td><td align="right">3</td><td align="right">13.64</td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>&nbsp;</td><td>Mechanical Hazards</td><td align="right">2</td><td align="right">9.09</td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>&nbsp;</td><td>OI</td><td align="right">10</td><td align="right">45.45</td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>&nbsp;</td><td>Toxicity</td><td align="right">0</td><td align="right">0</td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>MOTOR (22)</td><td>Electrocution</td><td align="right">5</td><td align="right">22.73</td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>&nbsp;</td><td>Environment</td><td align="right">1</td><td align="right">4.55</td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>&nbsp;</td><td>Ergonomics</td><td align="right">0</td><td align="right">0</td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>&nbsp;</td><td>Fire / Explosion</td><td align="right">4</td><td align="right">18.18</td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>&nbsp;</td><td>Mechanical Hazards</td><td align="right">2</td><td align="right">9.09</td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>&nbsp;</td><td>OI</td><td align="right">10</td><td align="right">45.45</td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>&nbsp;</td><td>Toxicity</td><td align="right">0</td><td align="right">0</td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>PROTECTION RELAY
         (14)</td><td>Electrocution</td><td align="right">2</td><td align="right">14.28</td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>&nbsp;</td><td>Environment</td><td align="right">0</td><td align="right">0</td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>&nbsp;</td><td>Ergonomics</td><td align="right">1</td><td align="right">7.14</td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>&nbsp;</td><td>Fire / Explosion</td><td align="right">1</td><td align="right">7.14</td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>&nbsp;</td><td>Mechanical Hazards</td><td align="right">0</td><td align="right">0</td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>&nbsp;</td><td>OI</td><td align="right">10</td><td align="right">71.43</td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>&nbsp;</td><td>Toxicity</td><td align="right">0</td><td align="right">0</td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>SUBSTATION (19)</td><td>Electrocution</td><td align="right">0</td><td align="right">0</td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>&nbsp;</td><td>Environment</td><td align="right">0</td><td align="right">0</td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>&nbsp;</td><td>Ergonomics</td><td align="right">0</td><td align="right">0</td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>&nbsp;</td><td>Fire / Explosion</td><td align="right">2</td><td align="right">10.53</td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>&nbsp;</td><td>Mechanical Hazards</td><td align="right">4</td><td align="right">21.05</td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>&nbsp;</td><td>OI</td><td align="right">10</td><td align="right">52.63</td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>&nbsp;</td><td>Toxicity</td><td align="right">3</td><td align="right">15.79</td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>SWITCHBOARD (18)</td><td>Electrocution</td><td align="right">5</td><td align="right">27.78</td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>&nbsp;</td><td>Environment</td><td align="right">0</td><td align="right">0</td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>&nbsp;</td><td>Ergonomics</td><td align="right">0</td><td align="right">0</td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>&nbsp;</td><td>Fire / Explosion</td><td align="right">3</td><td align="right">16.67</td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>&nbsp;</td><td>Mechanical Hazards</td><td align="right">0</td><td align="right">0</td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>&nbsp;</td><td>OI</td><td align="right">10</td><td align="right">55.55</td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>&nbsp;</td><td>Toxicity</td><td align="right">0</td><td align="right">0</td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>TRANSFORMER
         (23)</td><td>Electrocution</td><td align="right">5</td><td align="right">21.74</td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>&nbsp;</td><td>Environment</td><td align="right">1</td><td align="right">4.35</td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>&nbsp;</td><td>Ergonomics</td><td align="right">0</td><td align="right">0</td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>&nbsp;</td><td>Fire / Explosion</td><td align="right">5</td><td align="right">21.74</td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>&nbsp;</td><td>Mechanical Hazards</td><td align="right">3</td><td align="right">13.04</td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>&nbsp;</td><td>OI</td><td align="right">9</td><td align="right">39.13</td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>&nbsp;</td><td>Toxicity</td><td align="right">0</td><td align="right">0</td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>UPS (17)</td><td>Electrocution</td><td align="right">4</td><td align="right">23.53</td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>&nbsp;</td><td>Environment</td><td align="right">0</td><td align="right">0</td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>&nbsp;</td><td>Ergonomics</td><td align="right">0</td><td align="right">0</td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>&nbsp;</td><td>Fire / Explosion</td><td align="right">2</td><td align="right">11.76</td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>&nbsp;</td><td>Mechanical Hazards</td><td align="right">1</td><td align="right">5.88</td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>&nbsp;</td><td>OI</td><td align="right">10</td><td align="right">58.82</td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>&nbsp;</td><td>Toxicity</td><td align="right">0</td><td align="right">0</td>
        </tr>
        </tbody></table>




