<p>
  Element Table
</p>

<table border="1" cellpadding="2" cellspacing="0">
  <tr style="font-weight: bold; background-color: #aaa;">
  <td>Name</td><td>Type</td><td>Location</td><td>Date Installed</td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>cb01</td><td>CIRCUIT BREAKER</td><td>Tronoh</td><td>2009-01-25</td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>lighting</td><td>LIGHTING</td><td>Tronoh</td><td>2009-01-25</td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>cable</td><td>CABLE/BUS/BUS DUCT</td><td>Tronoh</td><td>2015-09-05</td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>pro-relay06</td><td>PROTECTION RELAY</td><td>Tronoh</td><td>2015-09-05</td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>sw2016-01</td><td>SWITCHBOARD</td><td>Tronoh</td><td>2016-03-06</td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>motor16-03</td><td>MOTOR</td><td>Tronoh</td><td>2016-03-06</td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>jb03</td><td>JUNCTION BOX</td><td>Tronoh</td><td>2016-03-06</td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>xformer0245</td><td>TRANSFORMER</td><td>Tronoh</td><td>2016-03-25</td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>bat05</td><td>BATTERY</td><td>Tronoh</td><td>2016-03-25</td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>gen2017-01</td><td>GENERATOR</td><td>Tronoh</td><td>2017-10-20</td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>substn045</td><td>SUBSTATION</td><td>Tronoh</td><td>2017-10-20</td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>earthing</td><td>EARTHING SYSTEM</td><td>Tronoh</td><td>2017-10-20</td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>sgmcc0123</td><td>Switchgear / MCC</td><td>Tronoh</td><td>2017-11-25</td>
  </tr>
  </table>
