<h1>ESATO Table * shows hazards caused by people’s behavior</h1>
<p>Types of Equipments/Areas/Rooms which had hazards/accidents caused by ppl behavior and its percentages</p>

<table cellspacing="0" cellpadding="2" border="1">
  <tbody><tr style="font-weight: bold; background-color: #aaa;">
  <td>Types of Equipments/Areas/Room</td><td>Occurrence</td><td>Percentage</td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>AHU/Alarm Panel</td><td align="right">2</td><td align="right">0.2</td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>Batteries/Battery Room</td><td align="right">67</td><td align="right">6.49</td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>Cable/Cable Route/Bus/Bus
   duct/overhead conductor</td><td align="right">63</td><td align="right">6.1</td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>Capacitor</td><td align="right">14</td><td align="right">1.4</td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>Charge Controller Unit</td><td align="right">10</td><td align="right">0.9</td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>Circuit Breaker/Isolator</td><td align="right">38</td><td align="right">3.68</td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>Earthing System/Lightning</td><td align="right">59</td><td align="right">5.72</td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>Electrical Area/Room/Instrument
   room</td><td align="right">14</td><td align="right">1.36</td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>Generator/Motor/MCC/Synchronous
   motor</td><td align="right">155</td><td align="right">15.02</td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>Hazardous area</td><td align="right">7</td><td align="right">0.68</td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>Junction Box/Terminal Box</td><td align="right">8</td><td align="right">0.76</td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>Lighting/Socket Outlet/Solar Array</td><td align="right">50</td><td align="right">4.85</td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>Protection Relay</td><td align="right">19</td><td align="right">1.85</td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>Substation/Switchyard</td><td align="right">126</td><td align="right">12.21</td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>Switchboard/Switchgear</td><td align="right">229</td><td align="right">22.12</td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>Transformer/Voltage
   Transformer/Transformer room</td><td align="right">146</td><td align="right">14.15</td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>UPS (uninterruptible power supply)</td><td align="right">25</td><td align="right">2.42</td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>&nbsp;</td><td align="right">1032</td><td align="right">&nbsp;</td>
  </tr>
  </tbody></table>

<h1></h1>
<p>Hazards/accidents caused by ppl’s behavior and its percentages</p>

<table cellspacing="0" cellpadding="2" border="1">
  <tbody><tr style="font-weight: bold; background-color: #aaa;">
  <td>Hazards caused by ppl’s behaviour</td><td>Occurrence</td><td>Percentage</td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>Accessibility</td><td align="right">16</td><td align="right">1.57</td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>Accidental Switching</td><td align="right">5</td><td align="right">0.49</td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>Chemical Hazard</td><td align="right">1</td><td align="right">0.1</td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>Electrocution</td><td align="right">268</td><td align="right">26.38</td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>Environmental</td><td align="right">58</td><td align="right">5.71</td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>Ergonomic</td><td align="right">115</td><td align="right">11.32</td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>Fire/Explosion</td><td align="right">238</td><td align="right">23.43</td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>Health</td><td align="right">5</td><td align="right">0.49</td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>Lighting</td><td align="right">3</td><td align="right">0.3</td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>Operability</td><td align="right">115</td><td align="right">11.32</td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>Maintenance</td><td align="right">22</td><td align="right">2.17</td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>Mechanical</td><td align="right">131</td><td align="right">12.9</td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>Tools</td><td align="right">7</td><td align="right">0.69</td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>Toxicity</td><td align="right">28</td><td align="right">2.76</td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>Transformer room</td><td align="right">2</td><td align="right">0.2</td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>Wrong
   Identification/Selection</td><td align="right">2</td><td align="right">0.2</td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>&nbsp;</td><td align="right">1016</td><td align="right">&nbsp;</td>
  </tr>
  </tbody></table>

<h1></h1>
<p>People’s behavior (their actions that caused hazard/accident), their consequences and recommended actions (SIMPLIFIED by taking the main ones)</p>

<table cellspacing="0" cellpadding="2" border="1">
  <tbody><tr style="font-weight: bold; background-color: #aaa;">
  <td>Behaviour/Actions</td><td>Consequences</td><td>Recommended Actions</td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>&nbsp;</td><td>Access to capacitor bank for
  maintenance may be limited
  due to some blockage.
  </td><td>Provide clearance 2.5m between both capacitor bank
  
  </td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>&nbsp;</td><td>ACCESS FOR UPS ROOM FROM
  INSIDE FAR. ONLY 1 DOOR IS
  PROVIDED.
  </td><td>FAR ROOM TO PROVIDE
  ADDITIONAL PERSONNEL
  ACCESS DO
  OR AT THE UPS ROOM.
  </td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>&nbsp;</td><td>ACCESS TO UPS ROOM IS
  THROUGH FAR ROOM.
  ELECTRICAL ARE
  UNAUTHORISED TO ACCESS
  FAR ROOM
  </td><td>TO PROVIDE DIRECT ACCESS
  TO UPS ROOM.
  
  
  </td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>
  
  
  ACCIDENTAL SWITHCING
  (7)
  
  
  
  </td><td>Switchgear shall be equipped
  with facilities that will prevent
  accidental switching
  
  </td><td>To ensure all switchgear, MCC,
  MCCB, isolator and switch fuse
  is provided with padlocking
  facilities.
  </td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>&nbsp;</td><td>TAP CHANGER SHALL BE EQUIPPED WITH FACILITIES
  THAT WILL PREVENT
  ACCIDENTAL SWITCHING
  </td><td>TO ENSURE TAP CHANGER AND FILLING/DRAIN VALVE IS
  PROVIDED WITH PADLOCK
  FACILITIES.
  </td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>&nbsp;</td><td>NA.</td><td>TO SPECIFY FOR PULL AND
  TURN
  </td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>&nbsp;</td><td>SWITCHGEAR SHALL BE
  EQUIPPED WITH FACILITIES
  THAT WILL PREVENT
  ACCIDENTAL SWITCHING.
  </td><td>NA.</td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>&nbsp;</td><td>LIGHTING PANEL SHALL BE
  EQUIPPED WITH FACILITIES
  THAT WILL PREVENT
  ACCIDENTAL SWITCHING.
  </td><td>	
  TO ENSURE INDIVIDUAL
  LIGHTING MCB HAS PADLOCK
  FACILITIES.
  </td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>&nbsp;</td><td>MOTOR SHALL BE PROPERLY
  ISOLATED FROM POWER
  SUPPLY DURING
  MAINTAINENCE WORK.
  </td><td>TO ENSURE ALL MOTOR HAVE
  INDIVIDUAL RCU WITH
  PADLOCK FACILITIES AT SITE.
  </td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>&nbsp;</td><td>ACCESSIBILITY TO ELECTRICAL
  ROOMS SHALL BE LIMITED TO
  AUTHORISED PERSONNEL
  ONLY.
  
  </td><td>TO ENSURE ENMC ROOM IS
  ALWAYS LOCKED (USING
  PANIC BAR). TO ENSURE
  ENMC ROOM CAN BE
  ACCESSIBLE FROM GCPP
  ROOM.
  </td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>OVER
  ACCUMULATION
  (3)
  
  </td><td>ACCUMULATION OF
  FLAMMABLE GAS DURING
  BATTERY CHARGING.
  </td><td>To ensure all switchgear, MCC,
  MCCB, isolator and switch fuse
  is provided with padlocking
  facilities.
  </td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>&nbsp;</td><td>Additional Castell keys may be
  required during maintenance.
  Unable to 'bypass' interlock
  during maintenance.
  </td><td>TO ENSURE TAP CHANGER
  AND FILLING/DRAIN VALVE IS
  PROVIDED WITH PADLOCK
  FACILITIES.
  </td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>&nbsp;</td><td>Additional Castell keys may be
  required during maintenance.
  Unable to 'bypass' interlock
  during maintenance.
  </td><td>TO ENSURE TAP CHANGER
  AND FILLING/DRAIN VALVE IS
  PROVIDED WITH PADLOCK
  FACILITIES.
  </td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>&nbsp;</td><td>ACCUMULATION OF HEAT
  INSIDE THE COMPARTMENT.
  </td><td>TO SPECIFY FOR PULL AND
  TURN
  </td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>LOCATION OF AHU
  (3)
  </td><td>AHU IS LOCATED INSIDE
  SUBSTATION.
  </td><td>TO SEEK ADVICE FROM PMC</td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>&nbsp;</td><td>AHU IS LOCATED INSIDE
  SUBSTATION
  </td><td>TO EXPLORE IMPROVEMENT
  OF AHU DESIGN
  </td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>&nbsp;</td><td>AHU is located inside
  substation
  </td><td>To explore and provide
  improvement of AHU design
  especially in preventing water
  from accumulating inside
  substation.
  </td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>LOCATION OF
  ANNUCIATOR PANEL
  (4)
  </td><td>ANNUNCIATOR PANEL IS
  LOCATED FAR FROM
  ENTRANCE DOOR.
  </td><td>ANNUNCIATOR PANEL
  SHOULD BE LOCATED NEAR TO
  THE MAIN ENTRANCE DOOR.
  </td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>&nbsp;</td><td>ANNUNCIATOR PANEL BEING
  BLOCKED BY OTHER
  EQUIPMENT.
  </td><td>NA.</td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>&nbsp;</td><td>ANNUNCIATOR PANEL IS
  LOCATED FAR FROM
  ENTRANCE DOOR.
  </td><td>ANNUNCIATOR PANEL
  SHOULD BE LOCATED NEAR TO
  THE MAIN ENTRANCE DOOR.
  </td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>&nbsp;</td><td>Annunciator panel is not
  visible from substation
  entrance.
  </td><td>NA.</td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>ARCHING/ARC FLASH
  (4)
  </td><td>ARC FLASH DUE TO FAULT.</td><td>TO ENSURE ARC FLASH
  CATEGORY LABEL IS PROVIDED
  AT EACH PANEL.
  </td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>&nbsp;</td><td>ARCING IN OLTC OIL --&gt;
  DEGRADE OIL QUALITY.
  </td><td>NA.</td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>&nbsp;</td><td>Arc flash category is not
  known yet.
  </td><td>To produce arc flash study
  report during detailed design.
  </td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>&nbsp;</td><td>ARC FLASH DUE TO FAULT.</td><td>TO ENSURE ARC FLASH
  CATEGORY LABEL IS PROVIDED
  AT EACH PANEL.
  </td>
  </tr>
    <tr style="background-color: #f0f0f0">
    <td>BATTERY RELATED
    (18)
    </td><td>BATTERY RACK IS 2-TIERS X 2
    ROWS WITH HEIGHT OF 1.68M
    </td><td>BATTERY STACKER AND
    TROLLEY IS PROVIDED.
    </td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>BATTERY ELECTROLYTE FILL-
    UP.
    </td><td>EYE WASH TO BE PROVIDED
    INSIDE BATTERY ROOM.
    </td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>BATTERY BANK IS TWO-TIER.</td><td>TO PROVIDE STOOL FOR 2ND
    TIER BATTERY RACK ACCESS.
    </td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>BATTERY RACK IS ONE TIER(1.2
    METER HEIGHT)(NI CAD
    SEALED BATTERY)
    </td><td>NO ISSUE.</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>BATTERY ROOM ONLY HAVE 1
    EXIT DOOR.
    </td><td>BATTERY ROOM SHOULD
    HAVE AT LEAST 2 ESCAPE
    ROUTE.
    </td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>BATTERY RACK ARE
    ARRANGED IN BACK-TO-BACK
    MANNER WITH SPACING
    BETWEEN IT. PERSONNEL MAY
    HAVE ACCESS TO THE SPACE
    AND MAY ACCIDENTLY TOUCH
    LIVE BATTERY WHEN
    EXECUTING WORKS ON OTHER
    BATTERY BANK.
    </td><td>PERSONNEL SHALL BE
    ADEQUATELY PROTECTED
    AGAINST LIVE BATTERIES
    PARTS.
    </td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>BATTERY ELECTROLYTE
    SPILLAGE.
    </td><td>SUFFICIENT SAFETY TOOLS
    SHALL BE PROVIDED INSIDE
    BATTERY ROOM.
    </td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>BATTERY ELECTROLYTE
    SPILLAGE.
    </td><td>NA</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>BATTERY LEAKS, ELECTROLYTE
    SPILLAGE.
    </td><td>EYE WASH IS PROVIDED IN THE
    BATTERY ROOM.
    </td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>Battery bank is 2 tiers, 4 steps.
    Depth of battery bank is
    930mm. Difficult to access the
    inner row for maintenance
    and measurement.
    </td><td>To review the maintenance
    accessibility of each battery
    cell and ensure that each cell
    can be accessed
    ergonomically. To consider 2
    tiers, 2 steps or 1 tier, 4 steps.
    </td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>BATTERY INSIDE DEDICATED
    COMPARTMENT. EXISTING
    BATTERY IS NI-CD.
    </td><td>PROVIDE SUFFICIENT COOLING
    AND AIR EXCHANGE FOR THE
    BATTERY ROOM TO MAINTAIN
    TEMPERATURE 25DEGC.
    </td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>Batteries are sufficient to
    supply for the escape lighting
    if personnel forgot to switch
    off the escape lighting before
    leaving the facility.
    </td><td>N/A</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>BATTERY STACKER AND
    TROLLEY IS PROVIDED.
    </td><td>NA</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>BATTERY RACK IS ONE TIER(1.2
    METER HEIGHT)(NI CAD
    SEALED BATTERY)
    </td><td>NO ISSUE.</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>BATTERY ELECTROLYTE FILL-
    UP.
    </td><td>EYE WASH TO BE PROVIDED
    INSIDE BATTERY ROOM.
    </td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>BATTERY BANK IS TWO-TIER.</td><td>TO PROVIDE STOOL FOR 2ND
    TIER BATTERY RACK ACCESS.
    </td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>Battery room is provided with
    1 door which is deviation from
    project specification.
    Personnel might not be able to
    escape in safe manner during
    emergency condition if door is
    blocked.
    </td><td>To provide 2 doors for battery
    room.
    
    </td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>BATTERY LEAKS, ELECTROLYTE
    SPILLAGE.
    </td><td>To review the maintenance
    accessibility of each battery
    cell and ensure that each cell
    can be accessed
    ergonomically. To consider 2
    tiers, 2 steps or 1 tier, 4 steps.
    </td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>BLOCKAGE OF
    ROUTE/COOLING
    SYSTEM
    (2)
    </td><td>BLOCKAGE FOR THE
    EMERGENCY ESCAPE ROUTE.
    </td><td>SWITCHGEAR ROOM SHOULD
    HAVE AT LEAST 2 ESCAPE
    ROUTES.
    </td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>BLOCKAGE OF COOLING
    SYSTEM FOR THE UPS CARDS.
    </td><td>FREQUENT CLEANING OF
    FILTER AT THE COOLING FAN
    </td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>BUSBAR/BUS DUCT
    ARRANGEMENT
    /MAINTENANCE
    (12)
    </td><td>BUSDUCT SUPPORT FAIL
    AFTER FEW YEARS.
    </td><td>TO ENSURE THE BUSDUCT
    SUPPORT TAKEN INTO
    THREE(3) POINT AXIS
    SUPPORT.
    </td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>BUSDUCT IS NOT SUPPORTED
    APPROPRIATELY. LAYOUT FOR BUSDUCT AND ITS SUPPORT IS
    YET TO BE DEVELOP.</td><td>TO PROVIDE SUFFICIENT
    BUSDUCT SUPPORT 
    ACCORDING TO ITS WEIGHT,
    LENGTH, JOINT LOCATION
    WITH 3 POINTS AXIS SUPPORT.
    </td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>BUSBAR ARRANGEMENT (U
    TYPE) MAY NOT ALLOW
    FUTURE EXPANSION AT THE
    SIDE.
    </td><td>TO ENSURE SWITCHBOARD
    EXPANSION AT THE SIDE IS
    POSSIBLE
    </td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>BUS BAR IS FULLY INSULATED.
    IP 41.  SEPARATION OF
    COMPARTMENT: NO
    DEVIATION BY VENDOR
    INTERNAL SEGREGATION:
    FORM ?
    </td><td>TO ENSURE THE SWITCHGEAR
    ASSEMBLY COMPLY WITH
    FORM 4(A OR B) OR 3B, AS
    PER PTS REQUIREMENT.
    </td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>BUS BAR ARRANGEMENT FOR
    BACK-TO-BACK SWITCHBOARD
    IS U-SHAPE. MAY BE
    COMPLEX FOR EXPANSION IN
    FUTURE.
    </td><td>TO ENSURE THAT THERE IS
    PROVISION TO EXTEND THE
    BUS BAR IN FUTURE.
    </td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>BUSBAR IS EXPOSED WHEN
    BACK PANEL IS OPENED.
    </td><td>NA.</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>BUSBAR ARRANGEMENT FOR
    BACK TO BACK PANEL MAY
    NOT ALLOW FOR BUSBAR
    EXPANSION
    </td><td>TO ENSURE BUSBAR IS ABLE
    TO BE EXTENDED FOR FUTURE
    PLANT EXPANSION
    </td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>BUSBAR IS OF U-TURN TYPE
    WHEREBY EXPANSION MAY
    NEED MASSIVE WORK.
    </td><td>TO PROVIDE BUSBAR OF THE
    BRACH OUT TYPE FOR
    EXPANSION TO BE ABLE TO
    CONDUCTED WITH MINIMAL
    IMPACT.
    </td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>BUSDUCT SUPPORT FAIL
    AFTER FEW YEARS.
    </td><td>TO ENSURE THE BUSDUCT
    SUPPORT TAKEN INTO
    THREE(3) POINT AXIS
    SUPPORT.
    </td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>BUSDUCT IS NOT SUPPORTED
    APPROPRIATELY. LAYOUT FOR
    BUSDUCT AND ITS SUPPORT IS
    YET TO BE DEVELOP.
    </td><td>TO PROVIDE SUFFICIENT
    BUSDUCT SUPPORT
    ACCORDING TO ITS WEIGHT,
    LENGTH, JOINT LOCATION
    WITH 3 POINTS AXIS SUPPORT.
    </td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>BUSDUCT SUPPORT FAIL
    AFTER FEW YEARS.
    </td><td>TO ENSURE THE BUSDUCT
    SUPPORT TAKEN INTO
    THREE(3) POINT AXIS
    SUPPORT.
    </td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>BUSDUCT IS NOT SUPPORTED
    APPROPRIATELY. LAYOUT FOR
    BUSDUCT AND ITS SUPPORT IS
    YET TO BE DEVELOP.
    </td><td>TO PROVIDE SUFFICIENT
    BUSDUCT SUPPORT
    ACCORDING TO ITS WEIGHT,
    LENGTH, JOINT LOCATION
    WITH 3 POINTS AXIS SUPPORT.
    </td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>CABLE ARRANGEMENT
    /MAINTENANCE
     (17)</td><td>CABLE ENTRANCE IS NOT
    SEALED.
    </td><td>CABLE ENTRANCE SEALED TO
    BE PROVIDED.
    </td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>Cable from SG-201 connecting
    to SB-7710, will be cold as it is
    not energized
    </td><td>To ensure smooth transfer
    from normal to emergency.
    </td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>CABLE LAID UNDER PIPE
    TRENCH/DRAIN. DIFFICULT
    MAINTENANCE ACCESS FOR
    CABLE DUE TO DEPTH OF
    DUCT BANK.
    </td><td>NA</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>CABLE TRENCH USED UNDER
    ROAD. HEAVY
    TRANSPORTATION
    </td><td>TO ENSURE PROPER
    PROTECTION, MARKING AND
    BARIER FOR THE CABLE
    TRENCH
    </td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>CABLE CELLAR ENCLOSED,
    CONFINED SPCE. VENTILATION
    MAY NOT BE ADEQUATE.</td><td>TO ENSURE SUFFICIENT
    LIGHTING AND CONTINOUS
    VENTILATION IS PROVIDED AT
    CABLE CELLAR TO ENABLE
    MAINTAINENCE ACTIVITIES.
    TO REVIEW AND ENSURE
    SUFFICIENT FIRE DETECTION &amp;
    FIRE FIGHTING SYSTEM IS
    PROVIDED.
    </td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>CABLE SUPPORT BEING
    OVERLOOKED DURING DESIGN
    STAGE.
    </td><td>ADEQUATE SUPPORT FOR
    CABLE SHALL BE AVAILABLE.
    </td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>CABLE IS NOT PROPERLY
    SECURED.</td><td>CABLE IS FROM BOTTOM
    ENTRY, CABLE CELLAR
    UNDERNEATH THE PCC. CABLE
    IS LAID INSIDE CABLE LADDER
    AND SECURED WITH CLAMPS,
    GLANDS.
    </td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>CABLE COMING OUT FROM
    UNDERGROUND GOING TO
    EDG SWITCHGEAR ROOM.
    WITH 2M HEIGHT FROM
    GROUND.
    </td><td>TO FINALISE CABLE LAYOUT
    FOR EDG ROOM CABLE CELLAR
    AND PROVIDE SUFFICIENT
    SUPPORT FOR THE CABLE
    ENTRY TO EDG SWITCHGEAR
    ROOM.
    </td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>Cable damage due to metal
    sharp edges.
    </td><td>To ensure all sharp edges at
    the cable tray or other
    structures must be protected.
    </td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>Cable tray in front of solar
    modules is located below main
    deck so no possibility of falling
    object on cable.
    </td><td>NA</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>Cables are armoured and will
    be laid on covered cable tray.
    </td><td>NA</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>Cable gland is earthed using
    the body of the switchboard.
    </td><td>NA</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>CABLES ARE FIRE RETARDANT
    AND LSZH.
    </td><td>NA</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>CABLE ENTRANCE IS NOT
    SEALED.
    </td><td>CABLE ENTRANCE SEALED TO
    BE PROVIDED.
    </td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>Cable cellar and transformer
    yard is separated by fencing
    only. Fire on transformer may
    propagate to cable and cause
    major damage which may
    cause total plant shutdown.
    </td><td>To replace wire fencing with
    fire wall between cable cellar
    and transformer yard to
    isolate transformer.
    </td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>CABLE IS NOT PROPERLY
    SECURED.
    </td><td>NA</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>Cable from SG-201 connecting
    to SB-7710, will be cold as it is
    not energized
    </td><td>To change the ACB-200 from
    N.O to N.C so that the cable
    will be energized and behaved
    as hot standby. This will
    reduce the time needed to
    energize the cable when
    required as there is no need to
    do insulation resistance test
    prior to energisation.
    </td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>CIRCUIT BREAKER
    /CONTROLLER/
    CAPACITOR
    MAINTENANCE
    (8)
    </td><td>Circuit breaker may
    accidentally be operated and
    cause nuisance tripping
    </td><td>To ensure circuit breaker TNC
    switch is of type that minimise
    accidental switching. (Pull and
    turn)
    </td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>CAPACITOR BANK IS PLACED
    TOGETHER WITH
    TRANSFORMER IN THE SAME
    YARD. CAPACITOR BANK IS
    PLACED WITH SIDES ON THE
    WALL WHICH CAN BLOCK
    COOLING VENTILATION.
    </td><td>TO PLACE CAPACITOR BANK
    ON DEDICATED INDIVIDUAL
    YARD. TO ENSURE NO WALL
    BLOCKING SIDE OF CAPACITOR
    BANK TO ALLOW
    VENTILATION.
    </td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>Circuit breaker may not be
    fully isolated and may
    accidentally be operated
    during work on the
    equipment.
    </td><td>NA</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>CIRCUIT BREAKER CANNOT BE
    PADLOCK IN OFF POSITION
    FOR PHYSICAL ISOLATION.
    </td><td>PADLOCK FACILITY TO BE
    PROVIDED IN OFF POSITION.
    </td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>Charger controller is located
    below main deck at service
    platform deck with no
    possibility of water ingress.
    </td><td>N/A</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>Circuit breaker may
    accidentally be operated and
    cause nuisance tripping.
    </td><td>To ensure circuit breaker is of
    type that minimise accidental
    switching. (Pull and turn)
    </td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>Circuit breaker may
    accidentally be operated and
    cause nuisance tripping.
    </td><td>To ensure circuit breaker is of
    type that minimise accidental
    switching. (Pull and turn)
    </td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>Circuit breaker may not be
    fully isolated and may
    accidentally be operated
    during work on the
    equipment during work on the
    equipment.
    </td><td>NA</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>WRONG
    IDENTIFICATION
    /SELECTION
    (8)
    </td><td>WRONG SWITHCING DUE TO
    LACK OF INFORMATION ON
    BREAKER STATUS.
    </td><td>MIMIC CIRCUIT IS PROVIDED.</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>WRONG SELECTION OF EX
    MOTOR FOR ZONE 2.
    </td><td>TO ENSURE ADEQUATE
    EQUIPMENT EX RATING.
    </td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>WRONG EQUIPMENT
    SELECTION IN BATTERY ROOM.
    </td><td>EQUIPMENT INSIDE BATTERY
    ROOM SHALL BE SELECTED
    SUITABLE FOR ITS HAZARDOUS
    AREA ZONE.
    </td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>WRONG DIMENSION OF
    SWITCHBOARD.
    </td><td>ENSURE EQUIPMENT
    DIMENSION GIVEN BY OEM
    MATCHES WITH THE
    EQUIPMENT AND ROOM
    LAYOUT.
    </td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>WRONG SWITCHING DUE TO
    NO INDICATION.
    </td><td>INDICATION ON EARTHING
    SWITCH PANEL FOR EARTH
    SWITCH STATUS. LINK
    EARTHING SWITCH STATUS AT
    ENMCS.
    </td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>WRONG SWITHCING DUE TO
    LACK OF INFORMATION ON
    BREAKER STATUS.
    </td><td>&nbsp;</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>Wrong equipment selection
    based on hazardous area.
    </td><td>&nbsp;</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>WRONG SWITHCING DUE TO
    LACK OF INFORMATION ON
    BREAKER STATUS.
    </td><td>MIMIC CIRCUIT IS PROVIDED</td>
    </tr>
    </tbody></table>
  