<h1>ESATO Table * shows hazards caused by people’s behavior</h1>
<p>Types of Equipments/Areas/Rooms which had hazards/accidents caused by ppl behavior and its percentages</p>

<table cellspacing="0" cellpadding="2" border="1">
  <tbody><tr style="font-weight: bold; background-color: #aaa;">
  <td>Types of Equipments/Areas/Room</td><td>Occurrence</td><td>Percentage</td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>AHU/Alarm Panel</td><td align="right">2</td><td align="right">0.2</td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>Batteries/Battery Room</td><td align="right">67</td><td align="right">6.49</td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>Cable/Cable Route/Bus/Bus
   duct/overhead conductor</td><td align="right">63</td><td align="right">6.1</td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>Capacitor</td><td align="right">14</td><td align="right">1.4</td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>Charge Controller Unit</td><td align="right">10</td><td align="right">0.9</td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>Circuit Breaker/Isolator</td><td align="right">38</td><td align="right">3.68</td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>Earthing System/Lightning</td><td align="right">59</td><td align="right">5.72</td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>Electrical Area/Room/Instrument
   room</td><td align="right">14</td><td align="right">1.36</td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>Generator/Motor/MCC/Synchronous
   motor</td><td align="right">155</td><td align="right">15.02</td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>Hazardous area</td><td align="right">7</td><td align="right">0.68</td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>Junction Box/Terminal Box</td><td align="right">8</td><td align="right">0.76</td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>Lighting/Socket Outlet/Solar Array</td><td align="right">50</td><td align="right">4.85</td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>Protection Relay</td><td align="right">19</td><td align="right">1.85</td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>Substation/Switchyard</td><td align="right">126</td><td align="right">12.21</td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>Switchboard/Switchgear</td><td align="right">229</td><td align="right">22.12</td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>Transformer/Voltage
   Transformer/Transformer room</td><td align="right">146</td><td align="right">14.15</td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>UPS (uninterruptible power supply)</td><td align="right">25</td><td align="right">2.42</td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>&nbsp;</td><td align="right">1032</td><td align="right">&nbsp;</td>
  </tr>
  </tbody></table>

<h1></h1>
<p>Hazards/accidents caused by ppl’s behavior and its percentages</p>

<table cellspacing="0" cellpadding="2" border="1">
  <tbody><tr style="font-weight: bold; background-color: #aaa;">
  <td>Hazards caused by ppl’s behaviour</td><td>Occurrence</td><td>Percentage</td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>Accessibility</td><td align="right">16</td><td align="right">1.57</td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>Accidental Switching</td><td align="right">5</td><td align="right">0.49</td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>Chemical Hazard</td><td align="right">1</td><td align="right">0.1</td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>Electrocution</td><td align="right">268</td><td align="right">26.38</td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>Environmental</td><td align="right">58</td><td align="right">5.71</td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>Ergonomic</td><td align="right">115</td><td align="right">11.32</td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>Fire/Explosion</td><td align="right">238</td><td align="right">23.43</td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>Health</td><td align="right">5</td><td align="right">0.49</td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>Lighting</td><td align="right">3</td><td align="right">0.3</td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>Operability</td><td align="right">115</td><td align="right">11.32</td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>Maintenance</td><td align="right">22</td><td align="right">2.17</td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>Mechanical</td><td align="right">131</td><td align="right">12.9</td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>Tools</td><td align="right">7</td><td align="right">0.69</td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>Toxicity</td><td align="right">28</td><td align="right">2.76</td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>Transformer room</td><td align="right">2</td><td align="right">0.2</td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>Wrong
   Identification/Selection</td><td align="right">2</td><td align="right">0.2</td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>&nbsp;</td><td align="right">1016</td><td align="right">&nbsp;</td>
  </tr>
  </tbody></table>

<h1></h1>
<p>People’s behavior (their actions that caused hazard/accident), their consequences and recommended actions (SIMPLIFIED by taking the main ones)</p>

// later