<h1>ESSID Table * shows hazards due to design of the equipment/environment</h1>
<p>Hazards due to design of the equipment/environment and its percentages</p>

<table cellspacing="0" cellpadding="2" border="1">
  <tbody><tr style="font-weight: bold; background-color: #aaa;">
  <td>Hazards</td><td>Occurrence</td><td>Percentages</td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>Over/under current</td><td align="right">7</td><td align="right">6.48</td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>Inadequate design &amp;
   construction</td><td align="right">6</td><td align="right">5.56</td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>Environment</td><td align="right">3</td><td align="right">2.78</td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>Frequency</td><td align="right">3</td><td align="right">2.78</td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>No interlocking</td><td align="right">5</td><td align="right">4.63</td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>No intertrip</td><td align="right">2</td><td align="right">1.85</td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>Power</td><td align="right">15</td><td align="right">13.9</td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>Inadequate protection &amp;
   control</td><td align="right">27</td><td align="right">25</td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>Inadequate rating</td><td align="right">16</td><td align="right">14.9</td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>No synchronizing</td><td align="right">2</td><td align="right">1.85</td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>Inconsistent tagging</td><td align="right">10</td><td align="right">9.26</td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>Voltage</td><td align="right">12</td><td align="right">11.11</td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>&nbsp;</td><td align="right">108</td><td align="right">&nbsp;</td>
  </tr>
  </tbody></table>

  <h1></h1>
  <p>Detailed view of hazards due to design of the equipment/environment, their causes, consequences and recommendations</p>

  <table cellspacing="0" cellpadding="2" border="1">
    <tbody><tr style="font-weight: bold; background-color: #aaa;">
    <td>Hazards</td><td>Causes</td><td>Consequences</td><td>Recommendations</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>OVER/UNDER
    CURRENT</td><td>Previous L7 63-C-1 panel is an empty panel. Hence this is an additional load for 63-C-1. The new loading at 63-C-1L is 196A.</td><td>Additional load at 63-C-1 leads to overload on the busbar.</td><td>No issue. Info.: 63-C-1L/R busbar is 630A.</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>Busbar current rating is lower than the short-circuit current due to new GTG "E".</td><td>The short-circuit current level at 33kV may exceed the existing short-circuit rating</td><td>Verify the short-circuit current at downstream LV switchboards.</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>Previous L7 63-C-1 panel is an empty panel. Hence this is an additional load for 63-C-1. The new loading at 63-C-1L is 196A.</td><td>Additional load at 63-C-1 leads to overload on the busbar.</td><td>No issue. Info.: 63-C-1L/R busbar is 630A.</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>Cable is size based on total load.</td><td>Cable may overloaded due to load increase after complete engineering.</td><td>Cable to be size as per aux. transformer capacity. Cable sizing to take consideration tie-in work at existing panel 25-SW4-1.</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>The load is not distributed to bus 74-D-2A and bus 74-D-2B according to their function in each BFW train.</td><td>One BFW train to be shutdown upon supply has different frequency or power source or MCC is shutdown.</td><td>The load to be distributed to 74-D-2A and 74-D-2B so that 1 BFW train can be operated in 100%.</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>The load is not distributed to bus 74-D-2A and bus 74-D-2B according to their function in each BFW train.</td><td>One BFW train to be shutdown upon supply has different frequency or power source or MCC is shutdown.</td><td>The load to be distributed to 74-D-2A and 74-D-2B so that 1 BFW train can be operated in 100%.</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>The current existing busbar is not sufficient for the new 2 unit BFW pumps.</td><td>&nbsp;</td><td>Verify the adequacy of existing busbar loading to accommodate the new BFW pump motor.</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>-</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>INADEQUATE DESIGN &amp; CONSTRUCTION</td><td>IP rating in not suitable for outdoor application.</td><td>Severe equipment damage.</td><td>info.: IP55 and Form 4 arrangement.</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>Cable size is not specify in the drawing.</td><td>Lack of information to the switchboard manufacturer leads to insufficient space for the termination.</td><td>Include the cable size for the phase, neutral and earth in the SLD drawings.</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>Cable is 1Cx630mmsq for each phase. Cable is bottom entry. Insufficient bending space.</td><td>Cable may damage due to mechanical stress on the bending.</td><td>Provide appropriate support for cable. Provide sufficient space in the trench for the cable bending and termination work. Info.: Cable is buried in trench 850mm deep with white sand backfill.</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>Cable is 1Cx630mmsq for each phase. Cable is bottom entry. Insufficient bending space.</td><td>Cable may damage due to mechanical stress on the bending.</td><td>Provide appropriate support for cable. Provide sufficient space in the trench for the cable bending and termination work. Info.: Cable is buried in trench 850mm deep with white sand backfill.</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>-</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>ENVIRONMENT</td><td>Vibration from GTG.</td><td>Flexible bus at GTG side of busduct crack after several years.</td><td>Include specific requirement for flexible bus in order to sustain the vibration at GTG side without crack.</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>(Humidity)Condensation accumulation at terminal box.</td><td>Flash over at terminal box leads to GTG trip.</td><td>Provide anti-condensation facility at terminal box i.e. dehydration agent. No top entry for cable and busduct to the transformer.</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>(Temperature)Air-conditioner fails.</td><td>Temperature inside cabin increase, also leads to condensation.</td><td>2X100% air-conditioner unit to be provided.</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>-</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>FREQUENCY</td><td>Different frequency under specific condition where the SESCO incomer in island mode.</td><td>Two source of supply with different frequency leads to equipment damage.</td><td>No issue: Info.:The issue of different frequency / two source is very rare and remote event. Switching is done manually by competent person control by permit system.</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>Different frequency under specific condition where the SESCO incomer in island mode.</td><td>Two source of supply with different frequency leads to equipment damage.</td><td>No issue: Info.:The issue of different frequency / two source is very rare and remote event. Switching is done manually by competent person control by permit system.</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>Breaker Generator CLOSE at unsynchronized condition between TNB. i.e. syncheck fails.</td><td>Severe damage to COGEN unit and instability to the 33kV system.</td><td>To verify and provide mechanical protection i.e. sheer bolt between turbine and generator. Info.: Synch. check relay is provided.</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>-</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>NO INTERLOCKING</td><td>No interlock between LV fuse-contactor and 6.6kV VCU. No interlock between earth switch at L7 63-C-1 and LV incomer.</td><td>&nbsp;</td><td>Interlock is not required.</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>No interlock between LV fuse-contactor and 6.6kV VCU. No interlock between earth switch at L7 63-C-1 and LV incomer.</td><td>&nbsp;</td><td>Interlock is not required.</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>Mechanical interlock is not provided between the two incomers.</td><td>The two incomers cannot be closed simultaniously leads to increase of short-circuit level.</td><td>Info.: Mechanical interlock is not required and acceptable. Different frequency scenario will only occur under specific SESCO feeder operating in island mode condition and the occurance of which is remote. Control is mitigated via prevalent switching procedure and Electrical permit-to-work(E-PTW).</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>Mechanical interlock is not provided between the two incomers.</td><td>The two incomers cannot be closed simultaniously leads to increase of short-circuit level.</td><td>Info.: Mechanical interlock is not required and acceptable. Different frequency scenario will only occur under specific SESCO feeder operating in island mode condition and the occurance of which is remote. Control is mitigated via prevalent switching procedure and Electrical permit-to-work(E-PTW).</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>No interlock for both incomers.</td><td>Both incomer can be closed at once lead to circulating current and backfeed.</td><td>Specify the same interlocking scheme between incomers as per existing.</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>-</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>NO INTERTRIP</td><td>No intertrip between upstream VCU and fuse-switch.</td><td>Fault at transformer will only trip VCU (upstream), LV fuse-switch no intertrip from upstream i.e. remain CLOSE.</td><td>No intertrip between 6.6kV and LV is acceptable. Switching procedure is in place to control the switching sequence after fault.</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>No intertrip between upstream VCU and fuse-switch.</td><td>Fault at transformer will only trip VCU (upstream), LV fuse-switch no intertrip from upstream i.e. remain CLOSE.</td><td>No intertrip between 6.6kV and LV is acceptable. Switching procedure is in place to control the switching sequence after fault.</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>-</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>POWER</td><td>The new VCU contactor power supply take from the existing UPS power supply.</td><td>The new VCU is additional loads for the UPS supply.</td><td>Verify the power supply for the contactor does not exceed the existing supply capacity.</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>Transformer TR-74-C/D-1(29.5%)is loaded more than TR-74-C/D/-2(53.6%) during peak load.</td><td>&nbsp;</td><td>Info.: The load distribution is balanced during normal operation.</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>The new VCU contactor power supply take from the existing UPS power supply.</td><td>The new VCU is additional loads for the UPS supply.</td><td>Verify the power supply for the contactor does not exceed the existing supply capacity.</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>Turbine trip due to any mechanical failure. Power supply to oil jacking and barring system from normal supply</td><td>GTG go to shut-down operation. Oil jacking and barring mechanism start to operate.</td><td>No issue.</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>TNB breaker open/trip during connected to TNB.</td><td>The other generator need to supply the additional power demand. Generator may flame-off if exceed the step-up load capacity.</td><td>To verify the new and existing generator step-up load capacity and amend the load-shedding scheme as required. Include the load-shedding analysis and scheme in the ITB.</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>Excitation circuit (dove tails) fails due to broken leads.</td><td>Generator unit shut-down.</td><td>Specify new contruction and material for the excitation assembly in the project document. Incorporate CUF UG experience.</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>Fault at auxiliary transformer or busduct.</td><td>Generator shut-down. Supply Recovery using power supply from DG at 25-SW4-01.</td><td>No issue</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>Starter fail to crank. Single cranking system (diesel engine) is provided. The current GE proposal using motor start.</td><td>GTG not in operation.</td><td>Diesel engine crank system to be self-sufficient to start engine.</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>No power supply from UPS to the Turbine Control cabin auxiliary loads. The existing unit has only one Inverter supply to Generator and TG controller.</td><td>Upon inverter fails, supply to controller transfer to static by-pass. Inverter and static by-pass fail leads to GTG trip.</td><td>Specify redundant inverter for the GTG controller in the project document.</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>Turbine enclosure fan / cooling fan (motor auxiliary) trip or broken belt.</td><td>GTG temperature increase. GTG shut-down after few minutes it reach the high temperature set.</td><td>Cooling fan/ ventilation fan (88VG, 88BT, 88TK) for turbine and generator to be non-belt drive. Power cable to the motor to be suitable for direct heat exposure condition.</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>Transformer TR-74-C/D-1(29.5%)is loaded more than TR-74-C/D/-2(53.6%) during peak load.</td><td>&nbsp;</td><td>Info.: The load distribution is balanced during normal operation.</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>Cable fault.</td><td>No supply to the aux. MCC from 25-SW4-1 and GTG unit cannot start. Delay start.</td><td>Manage by procedure and proper planning to mitigate the issue. i.e. supply from portable DEG.</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>New COGEN auxiliary LV</td><td>&nbsp;</td><td>Info.:EDG is sized to support black-start of 1 unit COGEN.</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>No power for the motor protection relay (GEMSTART) due one VT (as per existing design). power interupption to the motor protection relay during power transfer.</td><td>VT fails cause all motor protection relay no supply and no protection for motor.</td><td>Power supply for the Motor protection relay shall not interrupted or cause motor stop during the transfer operation of the main incomers or when isolator if OFF. Motor protection relay faulty shall not cause motor trip or stop when motor is already running. Motor protection relay should give alarm locally when relay faulty during running operation.</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>New BFW load (550kW)</td><td>&nbsp;</td><td>Check adequacy capacity of the transformer 25-TR3-01/02 for the new BFW load. Study shall consider various possible scenario in CUF UG.</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>-</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>INADEQUATE PROTECTION &amp; CONTROL</td><td>Protection for transformer feeder is only 51,50N and standby earth-fault. 87 is not included.</td><td>Internal fault is protected using 51 function.</td><td>No issue. Info.: Protection function provided at transformer feeder to be as per PTS standard drawing D13.92.020 for 500kVA transformer.</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>51N at LV trip the VCU L7 63-C-1.</td><td>&nbsp;</td><td>Info.: Lock-out relay is provided in the protection relay at upstream relay(63-C-1 L7)</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>Primary side of transformer (TR-63-A/C-1) is protected with 100A fuse (feeder) which is much higher than the normal current.</td><td>The fuse may not trip first prior to the protection relay device. The fuse may not able to protect the transformer if protection relay fails.</td><td>No issue. Info.: Fuse is coordinated as first protection against over current.</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>Protection for transformer feeder is only 51,50N and standby earth-fault. 87 is not included.</td><td>Internal fault is protected using 51 function.</td><td>No issue. Info.: Protection function provided at transformer feeder to be as per PTS standard drawing D13.92.020</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>51N at LV trip the VCU L7 63-C-1.</td><td>&nbsp;</td><td>Info.: Lock-out relay is provided in the protection relay at upstream relay(63-C-1 L7)</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>The existing relay coordination is based on the existing minimum and maximum short-circuit current i.e. from 3 GTG and 1 TNB.</td><td>New GTG installation increase the minimum and maximum short-circuit current. The coordination may not valid after new GTG.</td><td>To conduct relay coordination study during detail engineering stage and include this scope in the ITB. Owner to decide the Scope of work for relay coordination study.</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>No reverse power, out-of-step protection.</td><td>Generator become motor and rotate opposite turbine rotation. Severe GTG damage.</td><td>Specify typical GTG, transformer protection scheme as per existing installation, PTS requirement in the project document.</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>VT and CT for synchronizing and feedback to GTG is not compatible between GIS and GTG.</td><td>GTG control may not able to operate.</td><td>Identify tie-in point, signal, I/O list, CT, VT, differential CT at GIS required by COGEN in order to be in 100% function.</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>No monitoring on leakage current through roto shaft.</td><td>Damage (pitting) on the white metal bearing.</td><td>Provide prevention to circulating current or induced voltage on shaft.</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>Primary side of transformer (TR-63-A/C-1) is protected with 100A fuse (feeder) which is much higher than the normal current.</td><td>The fuse may not trip first prior to the protection relay device. The fuse may not able to protect the transformer if protection relay fails.</td><td>No issue. Info.: Fuse is coordinated as first protection against over current.</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>No unit protection for the auxiliary transformer (400kVA).</td><td>Other protection function may not operate or operate in longer time lead to transformer damage.</td><td>Provide typical transformer protection scheme, including dedicated unit protection for auxiliary transformer to prevent transformer damage.</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>The existing MCC 25-SW4-1 only has empty cubicle space.</td><td>Insufficient type of protection.</td><td>Provide sufficient protection as per existing and compatible with the existing cubicle.</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>No earth fault protection.</td><td>Severe equipment damage upon prolong fault.</td><td>Info.:Earth fault protection is provided at 74-D-1A that trip 6.6kv feeder.</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>No coordination between 74-D-2A and 74-D-1A.</td><td>Upon fault at 74-D-2A, both transfer panel and LV MCC will trip.</td><td>&nbsp;</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>No earth fault protection.</td><td>Severe equipment damage upon prolong fault.</td><td>Info.:Earth fault protection is provided at 74-D-1A that trip 6.6kv feeder.</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>No coordination between 74-D-2A and 74-D-1A.</td><td>Upon fault at 74-D-2A, both transfer panel and LV MCC will trip.</td><td>&nbsp;</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>No ELR provided for the welding socket outlet.</td><td>Earth fault at load may cause trip at LV MCC.</td><td>Info.: ELR is provided at the welding outlet board.</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>No sufficient protection for the LV Aux. MCC.</td><td>Fault at aux. mcc trip upstream LV switchgear.</td><td>Provide typical protection relay function for the incomers ACB.</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>No ELR provided for the welding socket outlet.</td><td>Earth fault at load may cause trip at LV MCC.</td><td>Info.: ELR is provided at the welding outlet board.</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>Insufficient protection function for the feeder.</td><td>Fault at load cause trip to the main incomers and total black-out to the aux. MCC.</td><td>Provide typical protection function for the static feeders as per existing scheme and PTS.</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>No issue: Protection for motors is provided as per PTS standard drawings.</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>Fuse to be denergized when switch is OPEN.</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>No issue: Protection for motors is provided as per PTS standard drawings.</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>Fuse to be denergized when switch is OPEN</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>No ELR for LV motor.</td><td>Earth leakage at load cuase incomer trip and GTG shut-down</td><td>Provide typical protection function, including ride-through voltage dip, reacceleration and emergency stop button for motor as per existing scheme and PTS.</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>The new motor starter for BFW is conversion from VCU feeder.</td><td>&nbsp;</td><td>Provide similar protection and control scheme as existing for the new motor starter.</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>Protection function and control (start/stop) shall be as per existing scheme of 3.3kV motors.</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>INADEQUATE RATING</td><td>Power cable from L7 63-C-1 to 74-D-1A is sized lower than normal full load current.</td><td>Cable overloaded.</td><td>Cable shall be complete length, no cable jointing is allowed. Info.: Cable is 1Cx400mmsq 3 Run per phase.</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>Loading at transformer TR-63-A/C-1 is reaching 100% during change-over.Refer to Load flow study report( BTU.1.40.8610). The spare starters are not included in the peak load calculation.</td><td>Prolong overloading of transformer leads to faster degradation.</td><td>Verify loading of TR-63-A/C-1,loading profile at 63-C-1 switchboard and data provided in FEED document. Info.: TR-63-A/C-1 is overloaded for a short-period of time i.e. during change-over of the supply. TR-63-A/C-1 has no more spare capacity for future expansion.</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>Generator does not produce the required power output due to high temperature at site.</td><td>Low generation power output.</td><td>No issue. Site rating as per existing COGEN and transformer. ISO rating 56.5MVA, (43.5MW), Site rating 35.2MW at 37degC.</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>Power cable from L7 63-C-1 to 74-D-1A is sized lower than normal full load current.</td><td>Cable overloaded.</td><td>Cable shall be complete length, no cable jointing is allowed. Info.: Cable is 1Cx400mmsq 3 Run per phase.</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>Loading at transformer TR-63-A/C-1 is reaching 100% during change-over.Refer to Load flow study report( BTU.1.40.8610). The spare starters are not included in the peak load calculation.</td><td>Prolong overloading of transformer leads to faster degradation.</td><td>Verify loading of TR-63-A/C-1,loading profile at 63-C-1 switchboard and data provided in FEED document. Info.: TR-63-A/C-1 is overloaded for a short-period of time i.e. during change-over of the supply. TR-63-A/C-1 has no more spare capacity for future expansion.</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>Busbar rating is lower than the normal current loading.</td><td>Busbar is overloaded.</td><td>Info.: 74-D-1A is sized to support 74-D-2A and 74-D-2B.</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>Busbar rating is lower than the normal current loading.</td><td>Busbar is overloaded.</td><td>Info.: 74-D-1A is sized to support 74-D-2A and 74-D-2B.</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>short-circuit current is higher than the rating.</td><td>Severe equipment damage upon fault.</td><td>No issue. Info.: Short-circuit current is 30kA maximum (Refer Short-circuit study). The selected busbar rating 36kA.</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>Transformer Neutral earth cable is not specified.</td><td>Smaller cable may cause overheating on the cable.</td><td>To specify the size of neutral earth cable for the transformer</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>short-circuit current is higher than the rating</td><td>Severe equipment damage upon fault.</td><td>No issue. Info.: Short-circuit current is 30kA maximum (Refer Short-circuit study). The selected busbar rating 36kA.</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>Transformer Neutral earth cable is not specified.</td><td>Smaller cable may cause overheating on the cable.</td><td>To specify the size of neutral earth cable for the transformer.</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>The busbar short-circuit rating is lower than the prospective short-circuit current.</td><td>Severe equipment daamage to LV MCC in case MCCB not trip upon fault.</td><td>Update the actual rating of the busbar based on the actual purchased item. Info.: Short-circuit current (3Phase) is 29kA and busbar rating is 50kA 1 sec.</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>The panel is not design to be installed outdoor.</td><td>Severe damage due to short-circuit in result of water ingress into the panel.</td><td>Type test report shall be submitted as part of the final document submission. Info.: The LV MCC is designed to IP66, type tested to IEC60439-1 with proven track record and installed under shelter.(EATON Halyester)</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>New load at auxiliary MCC.</td><td>Transformer and busbar exceed the existing capacity.</td><td>Verify existing current loading at transformer and busbar rating. The capacity should able to suppot the new load</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>The busbar short-circuit rating is lower than the prospective short-circuit current.</td><td>Severe equipment daamage to LV MCC in case MCCB not trip upon fault.</td><td>Update the actual rating of the busbar based on the actual purchased item. Info.: Short-circuit current (3Phase) is 29kA and busbar rating is 50kA 1 sec.</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>The panel is not design to be installed outdoor.</td><td>Severe damage due to short-circuit in result of water ingress into the panel.</td><td>Type test report shall be submitted as part of the final document submission. Info.: The LV MCC is designed to IP66, type tested to IEC60439-1 with proven track record and installed under shelter.(EATON Halyester)</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>-</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>NO SYNCHRONIZING</td><td>No synchronizing facility or synchronizing check relay.</td><td>74-D-2A or 74-D-2B may need shutdown. switching operation to be Break-before-make.</td><td>Switching procedure for load transfer to be in placed.</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>No synchronizing facility or synchronizing check relay.</td><td>74-D-2A or 74-D-2B may need shutdown. switching operation to be Break-before-make.</td><td>Switching procedure for load transfer to be in placed.</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>-</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>INCONSISTENT TAGGING</td><td>The tagging system for the new equipment is different from the existing scheme.</td><td>Different tagging system leads to misoperation.</td><td>Info: Tagging scheme for the equipment follow existing tagging scheme MLNG.</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>Test/cause/1</td><td>&nbsp;</td><td>&nbsp;</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>The tagging system for the new equipment is different from the existing scheme.</td><td>Different tagging system leads to misoperation.</td><td>Info: Tagging scheme for the equipment follow existing tagging scheme MLNG.</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>L7 63-C-1 has different tagging scheme for the components.</td><td>Confusion at 63-C-1 may leads to misoperation.</td><td>Info.: Tagging as per exisiting.</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>No nameplate/ description on the panel.</td><td>Incorrect isolation and energization of breaker leads to equipment damage and injury.</td><td>Provide nameplate or desciption on the panel L7 ("Suppy to 74-D-1A") and on 74-D-1A ("Supply from L7 63-C-1")</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>Tagging numbering for GTG, HRSG,Transformer, NER not in sequence from the existing installation. Generator is tagged as unit "E" instead of "D".</td><td>Confusion during operation and maintenance, also related to DOSH, SAP, etc.</td><td>Tagging Procedure to be included as part of ITB document to EPCC. To indicate the tag number for each equipment in the ITB Single Line Diagram. Info.: The unit is tagged as A2-2101E (unit "E") instead of "D". Unit D is reserved for boiler D only.</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>L7 63-C-1 has different tagging scheme for the components.</td><td>Confusion at 63-C-1 may leads to misoperation.</td><td>Info.: Tagging as per exisiting.</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>No nameplate/ description on the panel.</td><td>Incorrect isolation and energization of breaker leads to equipment damage and injury.</td><td>Provide nameplate or desciption on the panel L7 ("Suppy to 74-D-1A") and on 74-D-1A ("Supply from L7 63-C-1")</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>No tagging for each compartment (incomer, starter motors).</td><td>Confusion during isolation, expose personnel to LIVE part and leads to severe injury.</td><td>Confusion during isolation, expose personnel to LIVE part and leads to severe injury.</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>No tagging for each compartment (incomer, starter motors).</td><td>Confusion during isolation, expose personnel to LIVE part and leads to severe injury.</td><td>Provide nameplate or description plate for each compartment i.e. busbar, incomers ("From 74-D-1A","From 74-D-1B"), feeders ("Welding socket outlet") and starter motors ("PM-4635A").</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>-</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>VOLTAGE</td><td>Transformer feeder is fuse-contactor.</td><td>Fuse-contactor may open upon under voltage.</td><td>Transformer feeder to be latch-type and consistent with the existing fuse-contactor.</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>Motor starting at 6.6kV board or 55kW motor at 74-D-2A/2B.</td><td>under voltage cause other equipment breaker/contactor to open.</td><td>o issue.</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>Transformer feeder is fuse-contactor.</td><td>Fuse-contactor may open upon under voltage.</td><td>Transformer feeder to be latch-type and consistent with the existing fuse-contactor.</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>Excitation fails or AVR damage. Only one unit AVR.</td><td>GTG not in operation.</td><td>Include requirement redundant AVR for the GTG unit in the specification.</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>Lost signal from GTG (terminal box at skid) due to cable damage laid underground/submerge in flood water and oil.</td><td>GTG trip.</td><td>Project to consider cable to be laid above ground to prevent contamination from flood water and oil.</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>No DC power supply for the AVR or flashing circuit. DC power source come from single battery bank. GTG unit has no PMG.</td><td>No voltage to feed the AVR and exciter.</td><td>Redundant battery bank for the DC UPS system to be specified in the project document.</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>Integration of new GTG and existing unit is not complete.</td><td>Load sharing, voltage, MW control cannot be done.</td><td>Include commisioning of Power Management System (PMS) in the scope of work of EPCC. The work shall include verify and make necessary upgrading/modification on PMS hardware, software&amp; control, testing and commissioning for the new COGEN unit.</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>PMS overide primary control (MarkVI).</td><td>Voltage and frequency go beyond the operating limit.</td><td>Primary control shall be the ultimate controller. ie. do not execute PMS command which go beyond the operating limit. PMS shall not override the primary control.</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>Motor starting at 6.6kV board or 55kW motor at 74-D-2A/2B.</td><td>under voltage cause other equipment breaker/contactor to open.</td><td>No issue.</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>GTG trip due to fault or turbine fault.</td><td>Breaker open on UV relay. Then auto change over to emergency supply.</td><td>Provide interlock or lock-out to prevent transfer to emergency supply upon trip due to fault at aux. MCC.</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>Transfer from standby supply to normal (aux. transformer) supply.</td><td>GTG auxiliary motor trip cause GTG trip.</td><td>Load at the auxiliary MCC shall not interuppted/trip/stop during the transfer.</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>Motor starting of the new 2 unit BFW pumps (550kW).</td><td>&nbsp;</td><td>System study to check the voltage level during running and starting of BFW motor. Study to consider various possible scenario at CUF UG. System study to consider option to add new switchboard for the BFW pumps from 11kV switchboard.</td>
    </tr>
    </tbody></table>