<div class="container card">
  <h4>Jonathan's Visualization Dashboard</h4>
  <ul class="nav nav-tabs card-header">
    <li class="card-body">
      <a routerLink="/bar-chart">Bar Chart</a>
    </li>
    <li class="card-body">
      <a routerLink="/doughnut-chart">Doughnut Chart</a>
    </li>
    <li class="card-body">
      <a routerLink="/radar-chart">Radar Chart</a>
    </li>
    <li class="card-body">
      <a routerLink="/pie-chart">Pie Chart</a>
    </li>
    <li class="card-body">
      <a routerLink="/projects">Projects</a>
    </li>
    <li class="card-body">
      <a routerLink="/params">Params</a>
    </li>
    <li class="card-body">
      <a routerLink="/elements">Elements</a>
    </li>
    <li class="card-body">
      <a routerLink="/events">events</a>
    </li>
    <li class="card-body">
      <a routerLink="/hazards">Hazards</a>
    </li>
    <li class="card-body">
      <a routerLink="/esato">ESATO</a>
    </li>
    <li class="card-body">
      <a routerLink="/essid">ESSID</a>
    </li>
  </ul>
  <div>
    <router-outlet></router-outlet>
  </div> 
</div>

