<h1>Parameters & guidewords used in plant Table * shows hazards due to design of the equipment/environment</h1>
<p>Parameters set and used in the plant</p>

<table cellspacing="0" cellpadding="2" border="1">
  <thead><tr style="background-color: #f0f0f0">
    <td>Parameters</td><td>Types</td>
    </tr></thead>
  <tbody><tr style="font-weight: bold; background-color: #aaa;">
  </tr>
  <tr style="background-color: #ffffff">
  <td>Back up</td><td>EDG</td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>&nbsp;</td><td>UPS</td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>Current</td><td>None</td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>De- coupling</td><td>None</td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>Environment</td><td>Altitude</td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>&nbsp;</td><td>Humidity</td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>&nbsp;</td><td>Noise</td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>&nbsp;</td><td>Temperature</td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>&nbsp;</td><td>Vibration</td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>Frequency</td><td>None</td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>Fuel &amp; Utilities</td><td>None</td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>Indicator</td><td>Dial gauge</td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>&nbsp;</td><td>Level gauge</td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>&nbsp;</td><td>Metering</td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>&nbsp;</td><td>Pressure gauge</td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>&nbsp;</td><td>Temperature</td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>Interlocking</td><td>None</td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>Load</td><td>Shedding UF</td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>&nbsp;</td><td>Shedding UV</td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>Outrage recovery</td><td>None</td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>Power</td><td>Power factor</td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>&nbsp;</td><td>Power quality</td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>Protection control &amp; coordination</td><td>None</td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>Re-acceleration</td><td>None</td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>Redundancy</td><td>None</td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>Tagging</td><td>None</td>
  </tr>
  <tr style="background-color: #ffffff">
  <td>Time</td><td>None</td>
  </tr>
  <tr style="background-color: #f0f0f0">
  <td>Voltage</td><td>None</td>
  </tr>
  </tbody></table>

  <h1></h1>
  <p>Parameters and the guidewords used for each parameter</p>

  <table border="1" cellpadding="2" cellspacing="0">
    <tbody><tr style="font-weight: bold; background-color: #aaa;">
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>Parameter</td><td>Guidewords</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>Back up</td><td>Not available</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>Insufficient</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>Current</td><td>No</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>Over</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>Under</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>Negative sequence</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>Measurement</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>De-coupling</td><td>Incorrect</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>Not available</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>Environment</td><td>Low</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>High</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>Frequency</td><td>Under</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>Over</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>Measurement</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>Fuels &amp; Utilities</td><td>No</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>Low</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>Inadequate</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>Indicator</td><td>Not visible</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>Interlocking</td><td>Not available</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>Wrong</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>Load</td><td>Unbalanced</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>Incorrect</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>Not available</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>Outrage recovery</td><td>Not available</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>Incorrect</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>Insufficient</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>Power</td><td>Measurement</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>No</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>Low</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>Exceed V THD</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>Protection control &amp; coordination</td><td>No</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>Inadequate</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>Incorrect</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>Insufficient</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>Re-acceleration</td><td>Voltage Dip</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>Not Completed</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>Redundancy</td><td>Any</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>Tagging</td><td>No</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>Wrong</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>Unclear-physical</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>Size and lettering</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>Unclear - system</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>Time</td><td>Incorrect</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>Insufficient</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>No</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>Voltage</td><td>No</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>Under</td>
    </tr>
    <tr style="background-color: #f0f0f0">
    <td>&nbsp;</td><td>Over</td>
    </tr>
    <tr style="background-color: #ffffff">
    <td>&nbsp;</td><td>Measurement</td>
    </tr>
    </tbody></table>